<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence"
             version="2.0">
    <persistence-unit name="cuba-component-attachable"
                      transaction-type="RESOURCE_LOCAL">
        <class>de.diedavids.cuba.attachable.entity.Attachment</class>
        <class>de.diedavids.cuba.attachable.entity.AttachmentCategory</class>
    </persistence-unit>
</persistence>
